@import "tailwindcss";
/* Mobile-first responsive design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 1rem;
  }
  
  #navbar-elments {
    display: none; /* Hide desktop nav on mobile */
  }
  
  .purple-btn {
    position: static;
    margin: 1rem auto;
  }
}

/* Ensure images are responsive */
img {
  max-width: 100%;
  height: auto;
}



@theme {
  --font-lato: "Lato", sans-serif;
  --font-playfair: "Playfair Display", sans-serif;
  --color-customPurple: #800080;
}
*, ::before, ::after {
  box-sizing: border-box;
  overflow-x: hidden
}

.purple-btn {
  @apply text-white font-playfair absolute md:px-4 md:py-1.5 border-none rounded-4xl h-8 md:w-50 md:h-10
  text-center text-xs
  md:text-xl bg-customPurple;
}

.heading1 {
  @apply text-xl md:text-3xl font-playfair font-bold ;
}

.puja-image {
  @apply rounded-2xl h-96 bg-amber-900 max-w-xs	 overflow-hidden;
}

/* force inner slick-slide div to behave like flex to allow spacing */
.slick-slide > div {
  margin: 0 12px; /* Adjust this value to control spacing */
  display: flex !important;
  justify-content: center;
}

/* Left arrow */
.slick-prev:before {
  color: rgb(0, 0, 0) !important;
  font-size: 30px !important;
}

/* Right arrow */
.slick-next:before {
  color: rgb(0, 0, 0) !important;
  font-size: 30px !important;
}

/* Default dot style */
.slick-dots li button:before {
  font-size: 12px !important;
  color: var(--color-customPurple) !important;
  opacity: 1 !important;
}

/* Active dot style */
.slick-dots li.slick-active button:before {
  color: #d4af37 !important; /* Gold color */
  opacity: 1 !important;
}

/* Hide number input arrows in Chrome, Safari, Edge, Opera  1079*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  appearance: textfield;
}

.form-input {
  @apply border-0 m-5 bg-white rounded-lg md:w-1/2	 md:h-14	 p-2;
}

.footer-el {
  @apply md:w-80 md:mx-10 md:h-auto justify-center md:py-5 md:px-5 text-white font-lato;
}

.why-ssg-global{
  @apply md:p-10 px-5 md:justify-center flex
}

.ashtalakshmi-div div{
  @apply md:w-80 md:h-auto md:p-4 bg-amber-50 m-4 px-7 py-10 text-center justify-center rounded-2xl
}

.ashtalakshmi-content-div h2{
  @apply text-xl text-customPurple
}
.ashtalakshmi-div img{
@apply md:w-20 md:h-25 w-20 h-20 mx-auto
}