@import "tailwindcss";
@theme {
  --font-lato: "Lato", sans-serif;
  --font-playfair: "Playfair Display", sans-serif;
  --color-customPurple: #800080;
}
body{
  @apply overflow-x-hidden
}

.header {
  @apply bg-customPurple flex p-4 text-white;
}

.purple-btn {
  @apply text-white font-playfair absolute px-4 py-1.5 border-none rounded-4xl w-50 h-10
  text-center
  text-xl bg-customPurple;
}

.heading1 {
  @apply text-3xl font-playfair font-bold text-customPurple;
}

.puja-image {
  @apply rounded-2xl h-[360px] bg-amber-900 w-[310px] overflow-hidden;
}

/* force inner slick-slide div to behave like flex to allow spacing */
.slick-slide > div {
  margin: 0 12px; /* Adjust this value to control spacing */
  display: flex !important;
  justify-content: center;
}

/* Left arrow */
.slick-prev:before {
  color: gold !important;
  font-size: 30px !important;
}

/* Right arrow */
.slick-next:before {
  color: gold !important;
  font-size: 30px !important;
}

/* Default dot style */
.slick-dots li button:before {
  font-size: 12px !important;
  color: var(--color-customPurple) !important;
  opacity: 1 !important;
}

/* Active dot style */
.slick-dots li.slick-active button:before {
  color: #d4af37 !important; /* Gold color */
  opacity: 1 !important;
}

/* Hide number input arrows in Chrome, Safari, Edge, Opera  1079*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  appearance: textfield;
}

.form-input {
  @apply border-0 m-5 bg-white rounded-lg w-[530px] h-[56px] p-2
}

form #address, #message{
  @apply w-[1099px]  border-0 m-5 bg-white rounded-lg  h-[56px] p-2
}

.testing-class{
  @apply w-80 mx-10 h-auto justify-center py-5 px-5 text-white font-lato
}
